

			#leftSide, h1,  h3, #links, header, body, p, ul {
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}

			body {
				background-color: #EEEEEE;
				font-family: 'Lato',serif;
			}
			header {
				z-index: 100;
				padding-top: .2em;
				padding-bottom: .2em;
				position: fixed;
				background-color: transparent;
				display: inline-block;
				width: 100%;
			}

			#leftSide {
				display: inline-block;
				padding-left: 2%;
				color: #002366;
				transition: color 4s ease-out;
			    -moz-transition: color 4s ease-out;
			    -webkit-transition: color 4s ease-out;
			    -o-transition: color 4s ease-out;
			}
			h3 {
				margin-top: -7px;
				padding-left: 5px;
				font-weight: 100;
				font-size: 15px;

			}
			h1 {
				font-weight: 100;
			}

			#contact_button:focus {
				background-color: #EEEEEE;
			}


			#rightSide {
				float: right;
				padding-right: 2%;
				line-height: 3.5em;
			}

			#hint_ul li {

				display: inline-block;
				padding: 0 20px 0 20px;
				float: right;
			}

			#hint_ul {
				color: #FFF;
				text-decoration: none;
				opacity: 1;
			    transition: opacity 5s 5s ease-out;
			    -moz-transition: opacity 5s 5s ease-out;
			    -webkit-transition: opacity 5s 5s ease-out;
			    -o-transition: opacity 5s 5s ease-out;
			}

			#header_top_button {
				display: none;
			}


			footer {
				text-align: center;
				padding: 1em 0 1.5em 0;
				background-color: #0D47A1;
				display: inline-block;
				width: 100%;
				bottom: 0;
			}

			#linkFooter li {
				text-align: left;
				vertical-align: top;
				display: inline-block;
				padding: 0 20px 0 20px;
			}

			#linkFooter li div{
				display: table;
			}

			#linkFooter .test {
				color: #FFF;
				text-decoration: none;
			}


			#linkFooter a {
				color: #000;
				text-decoration: none;
			}

			#linkFooter a:hover {
				color: #CCCCCC;
				opacity: 0.4;
				cursor: pointer;
			}

			.footer_title {
				color: #FFF;
			}
			#linkFooter li img {
				height: 40px;
				padding-top: 3px;
			}

			/*
			Set up header for mobile
			*/
			@media (max-device-width: 1080px) {

				#linkFooter li {
					display: block;
					text-align:  center;
				}
				#linkFooter li div {
					padding-bottom: 1%;
					margin: auto;
				}
				#links a {
					font-size: 2em;
				}

			}
			@media (max-device-width: 580px) {
				#header_top_button {
					display: none;
				}
			}
